{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6"
        }
      }
    ],
    "flow",
    "stage-0"
  ],
  "plugins": [
    "external-helpers",
    "transform-runtime",
    [
      "transform-private",
      {
        "pattern": "^_"
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
