sudo: false
language: node_js

node_js:
  - "4"
  - "5"
  - "6"

cache:
  directories:
    - $HOME/.node-gyp
    - $HOME/.npm
    - node_modules

install: make install
script: make ci
after_success: make post-coverage
